<link rel="stylesheet" type="text/css" href="<%= styleLink %>">
<% include ../partials/header %>
 <div class="row">
 	<div class="col s12 m8 offset-m2">
 		<h2 class="page-header">Skills</h2>
 		<p class="col s12 m6 offset-m3 page-header-description">Listed here are my development skills, which are dynamically loaded from a database and rendered with EJS.</p>
 	</div>
 </div>

 <div class="row">
 	<div class="col s12 m8 offset-m2">
	   <div class="card">
	    <div class="card-content">
	      <p id="skills-card-content"><%= skillsCardInfo.front %></p>
	    </div>
	    <div class="card-tabs">
	      <ul class="tabs tabs-fixed-width">
	        <li class="tab"><a clas="active" href="#front-end-div" onclick="changeCardContent(window.location.pathname.substr(1),'<%= skillsCardInfo.front %>')">Front End</a></li>
	        <li class="tab"><a href="#back-end-div" onclick="changeCardContent(window.location.pathname.substr(1), '<%= skillsCardInfo.back %>')">Back End</a></li>
	        <li class="tab"><a href="#other-div" onclick="changeCardContent(window.location.pathname.substr(1), '<%= skillsCardInfo.other %>')">Other</a></li>
	      </ul>
	    </div>
	    <div class="card-content grey lighten-4">
		      <div id="front-end-div">
		      	<ul class="collection">
		      		<% if (typeof skills !== 'undefined') { %>
						<% skills.forEach(function(skillItem){ %>
							<% if (skillItem.skillType === "1"){ %>
							    <li class="collection-item avatar">
							      <img src="<%= skillItem.skillImageUrl %>" alt="" class="circle">
							      <span class="title"><%= skillItem.skillName %></span>
							      <p><%= skillItem.skillDescription %></p>
							    </li>
						     <% } %>
					    <% }) %>
				    <% } %>
				</ul>
		      </div>

		      <div id="back-end-div">
		      	<ul class="collection">
		      		<% if (typeof skills !== 'undefined') { %>
			      		<% skills.forEach(function(skillItem){ %>
							<% if (skillItem.skillType === "2"){ %>
							    <li class="collection-item avatar">
							      <img src="<%= skillItem.skillImageUrl %>" alt="" class="circle">
							      <span class="title"><%= skillItem.skillName %></span>
							      <p><%= skillItem.skillDescription %></p>
							    </li>
						    <% } %>
					    <% }) %>
				    <% } %>	
	  			</ul>
		      </div>

		      <div id="other-div">
		      	<ul class="collection">
		      		<% if (typeof skills !== 'undefined') { %>
						<% skills.forEach(function(skillItem){ %>
							<% if (skillItem.skillType === "3"){ %>
							    <li class="collection-item avatar">
							      <img src="<%= skillItem.skillImageUrl %>" alt="" class="circle">
							      <span class="title"><%= skillItem.skillName %></span>
							      <p><%= skillItem.skillDescription %></p>
							    </li>
						    <% } %>
					    <% }) %>
			     	<% } %>
				</ul>
		      </div>
	    </div>
	  </div>
	</div>
</div>

<script src="assets/js/projects-and-skills.js"></script>
<% include ../partials/footer %>